*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(104, 211, 211);
    height: 8rem;
}
.top-bar{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: #fff;
        height: 1.5rem;
        width: 100%;
}
.item-header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.navbar-top{
    display: flex;
    gap: 10px;
}
.navbar-button{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
menu{
    padding-top: 1px solid red;
   
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center; 
    height: 3rem;
   
}

main{
    background-color: beige;
    height: 1rem;
}
footer{
    background-color: blueviolet;
    height: 1rem;
}@media (min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        "a a"
        "b c"
        "d d" 
        ;
        grid-auto-columns: 30% auto;
    
    }
    .top-bar{
        grid-area: a;

    }
    header{
        grid-area: b;
    }
   
   
    main{
        grid-area: c;
        min-height: 100vh;
    }
    footer{
        grid-area: d;
    }
}
