*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
header{
    background-color: rgba(45, 45, 45, 0.534);
    height: 100%;
    width: 100%;
    color: #fff;
    
}
.top-bar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    color: #ffffff;
    height: 1.5rem;
    width: 100%;
   
    
}
.item-header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}
.navbar-top{
    display: flex;
    gap: 10px;
}
.navbar-button{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.item-top-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section-1{
    background-image: url(../asset/img/imagenes/imagen-principal.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: top-center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center ;
}
.main-section-2{
    background-color: #ffffff;
    height: 20rem;
   
}
.item-1-section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb( 249, 220, 75);
    
}
.botones{
    padding-bottom: 3rem;
}
.boton-1{
    background-color: rgb( 249, 220, 75);
    border: none;
    padding: 0.5rem;
    border-radius: 13px;
    width: 8rem;
}
.boton-2{
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 13px;
    border: 1px solid rgb( 249, 220, 75);
    width: 8rem;
}
.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
    margin-top: 10px;
  }
  
  .producto {
    min-width: 100%;
    scroll-snap-align: center;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .producto img {
    width: 55%;
    height: 80%;
    display: block;
  }
  
  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(45, 45, 45));
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0); }
  }
  
  .carousel-track {
    animation: slide 20s infinite;
  }
a{
    text-decoration: none;
    color: rgb(45, 45, 45)0;
    cursor: pointer;
}
menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center; 
    height: 3rem;
   
}

main{
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.producto{
    width: 30%;
    height: auto;   
}
.galeria-de-imagenes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.galeria-de-imagenes img{
    width: 45%;
    
}
footer{
    background-color: rgb(45, 45, 45);
    height: 1rem;
}
.rrss-link{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    gap: 1rem;
    
    
}
.rrss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    height: 4rem;
    color: #fff;
    gap: 5px;
}
.footer-correo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(45, 45, 45);
    height: 4rem;
}
@media (min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        "a a"
        "b c"
        "d d" 
        ;
        grid-auto-columns: 30% auto;  
    }
    .top-bar{
        grid-area: a;
    }
    header{
        grid-area: b;
    }
    main{
        grid-area: c;
        min-height: 100vh;
    }
   .carousel-track{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    animation: none;
   }
   .producto img{
    width: 100%;
   }
   .main-section-1{
    height: 50rem;
   }
   .main-section-2{
    height: auto;
   }    
    footer{
        grid-area: d;
    }
}
@media (min-width: 1024px) {
    .main-section-1 {
      background-image: url(../asset/img/imagenes/imagen-principal.jpg), url(../asset/img/bg-4.jpg);
      background-size: 50% 100%;
      background-position: left center, right center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end; 
      height: 25; 
      
     }
     .item-1-section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb( 249, 220, 75);
        padding-right: 8rem;       
    }
    .botones{
        padding-right: 4.5rem;
    }
      
         }
